body{
    color: #333; 
    font-family: Verdana, Tahoma, sans-serif;
    margin: 0;
}

header{
    background-color: #efefef;
}

.container{
    /* background-color: pink; */
    width: 400px;
    margin: auto;
    display: flex;
    
}

.info{
    /* background-color: tomato; */
    margin-left: 32px;
}

.info h1{
    font-weight: normal;
    margin: 0;
    font-size: 24px;
}

.info p{
    margin: 0;
    margin-bottom: 16px;
}

.info ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
}

.info ul li{
    margin-right: 8px;
}

.icon img{
    border-radius: 50%;
    border-width: 4px;
    border-style: solid;
    border-color: white;
}
